/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --color-primary: #191826;
  --color-secundary: #fcfaf9;
  --color-bk-eq: #fa7453;

  --color-hover-ios: #66e2dc;
  --color-hover-android: #ffb964;

  /*========== Font and typography ==========*/
  --font-body: "IBM Plex Sans", sans-serif;

  --h1-font-size: 5.5rem;
  --h2-font-size: 2.5rem;
  --normal-font-size: 1.25rem;
  --font-button: 1.125rem;
  --small-font-size: 1rem;
  --font-price: 4.063rem;

  /*========== Font weight ==========*/
  --fw-regular: 400;
  --fw-bold: 700;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-body);
  background: var(--color-secundary) url(../img/bg-main-desktop.png) no-repeat
    top -266px right -180px;
  backface-visibility: hidden;
  color: var(--color-primary);
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
  max-width: 1110px;
  margin-left: 24px;
  margin-right: 24px;
}
@media (min-width: 1160px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
.button {
  font-size: var(--font-button);
  line-height: 1.78;
  letter-spacing: -0.011rem;
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
  column-gap: 8px;
  white-space: nowrap;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
}
/*==================== HEADER ====================*/
.header-logo {
  padding-top: 62px;
  position: relative;
}
.header__content {
  display: grid;
  grid-template-columns: 1fr auto;
}
.header__link {
  margin-bottom: 127px;
  display: inline-block;
}
.desc {
  margin-bottom: 321px;
}
.desc__content {
  display: grid;
  gap: 40px 0px;
  max-width: 870px;
}
.desc__title {
  font-size: var(--h1-font-size);
  line-height: 1;
  font-weight: var(--fw-bold);
  letter-spacing: -0.063rem;
}
.desc__info {
  font-size: var(--normal-font-size);
  line-height: 1.7;
  font-weight: var(--fw-regular);
}

.header__img {
  position: absolute;
  right: -138px;
  top: -40px;
  z-index: -1;
}
.section-bg {
  background: var(--color-primary) url(../img/bg-pattern-2.svg) no-repeat top -40px
    left 336px;
}

.premium {
  max-width: 1110px;
  height: 600px;
  position: relative;
  border-radius: 12px;
  color: var(--color-secundary);
  margin-bottom: 202px;
  padding: 0;
}
.premium__img {
  width: 312px;
  height: 642px;
  position: absolute;
  top: -212px;
  left: 102px;
}
.premium__eq {
  max-width: 446px;
  background-color: var(--color-bk-eq);
  position: absolute;
  top: 90px;
  right: 95px;
  border-radius: 12px;
  padding: 58px 59px 48px 54px;
}
.premium__title {
  font-size: var(--h2-font-size);
  font-weight: var(--fw-bold);
  line-height: 1.3;
}
.premium__desc {
  font-size: var(--normal-font-size);
  font-weight: var(--fw-regular);
  line-height: 1.7;
  margin: 22px 0 39px;
}
.premium__price {
  font-size: var(--font-price);
  line-height: 0.8;
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 46px;
}
.premium__month {
  font-size: var(--normal-font-size);
  line-height: 1.6;
  font-weight: var(--fw-regular);
}
.premium__buttons {
  display: grid;
  row-gap: 16px;
  justify-content: center;
}

.button-ios {
  color: var(--color-secundary);
  background-color: var(--color-primary);
  padding: 15px 96px;
}
.button-android {
  color: var(--color-primary);
  background-color: var(--color-secundary);
  padding: 15px 77px;
}
.button-ios:hover {
  background-color: var(--color-hover-ios);
}
.button-android:hover {
  background-color: var(--color-hover-android);
}
.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-self: start;
  margin-bottom: 91px;
}
.footer__logo.header__link {
  margin-bottom: 0;
}
.footer__contact {
  font-size: var(--small-font-size);
  line-height: 1.62;
  font-weight: var(--fw-regular);
  max-width: 366px;
  margin: 0 360px 0 138px;
}
.footer__redes {
  display: flex;
  column-gap: 20px;
}
.footer__link {
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
}
.footer__link:hover,
.footer__link:active {
  color: var(--color-bk-eq);
}
svg path {
  fill: currentColor;
}

/*==================== MEDIA QUERIES ====================*/
@media (max-width: 1000px) {
  body {
    background: var(--color-secundary) url(../img/bg-main-tablet.png) no-repeat
      top -220px right -140px;
  }
  .container {
    margin-left: 33px;
    margin-right: 39px;
  }
  .header__link {
    margin-bottom: 95px;
  }
  .desc {
    margin-bottom: 249px;
  }
  .desc__content {
    gap: 28px 0px;
  }
  .desc__title {
    font-size: 4rem;
    letter-spacing: -0.045rem;
    max-width: 520px;
  }
  .desc__info {
    font-size: 1.125rem;
    line-height: 1.56;
    max-width: 514px;
  }
  .header__img {
    width: 267px;
    height: 400px;
  }
  .section-bg {
    background: var(--color-primary) url(../img/bg-pattern-2.svg) no-repeat top -31px
      left 229px;
    background-size: 280px;
  }
  .premium {
    margin-bottom: 183px;
  }
  .premium__img {
    width: 270px;
    height: 556px;
    top: -138px;
    left: 64px;
  }
  .premium__eq {
    top: 150px;
    right: 58px;
    padding: 48px 49px 48px 48px;
  }
  .premium__title {
    font-size: 2rem;
    line-height: 1.25;
  }
  .premium__desc {
    font-size: 1.125rem;
    line-height: 1.56;
    margin: 12px 0 36px;
    max-width: 302px;
  }

  .premium__price {
    margin-bottom: 32px;
  }

  .button-ios {
    padding: 15px 77px;
  }
  .button-android {
    padding: 15px 59px;
  }

  .footer__logo.header__link {
    margin-bottom: 32px;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    margin-bottom: 85px;
  }
  .footer__contact {
    grid-row: 2;
    margin: 0;
  }
  .footer__redes {
    grid-row: 2;
    justify-self: end;
  }
}
@media (max-width: 600px) {
  body {
    background: var(--color-secundary) url(../img/bg-main-mobile.png) no-repeat
      top -220px left 2px;
  }
  .container {
    margin-left: 24px;
    margin-right: 24px;
  }
  .header-logo {
    padding-top: 40px;
  }
  .header__link {
    margin-bottom: 64px;
  }
  .desc {
    margin-bottom: 166px;
  }
  .desc__content {
    gap: 20px 0px;
  }
  .desc__title {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -0.028rem;
  }
  .desc__info {
    font-size: 1rem;
    line-height: 1.62;
  }
  .header__img {
    display: none;
  }
  .main {
    margin-left: 0;
    margin-right: 0;
  }
  .section-bg {
    background: var(--color-primary) url(../img/bg-pattern-2.svg) no-repeat top
      center;
    background-size: 280px;
  }
  .premium__img {
    width: 209px;
    height: 430px;
    top: -96px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .premium {
    margin-bottom: 390px;
  }
  .premium__eq {
    max-width: 100%;
    top: 380px;
    right: 0;
    left: 0;
    padding: 48px 37px 48px 36px;
  }
  .premium__title {
    text-align: center;
  }
  .premium__desc {
    margin: 22px auto 39px auto;
  }
  .premium__price {
    justify-content: center;
    margin-bottom: 32px;
  }

  .button-ios {
    padding: 15px 77px;
  }
  .button-android {
    padding: 15px 59px;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 80px;
  }
  .footer__contact {
    margin-bottom: 64px;
  }
  .footer__redes {
    grid-row: 3;
    justify-self: start;
  }
}
@media (max-width: 400px) {
  .premium__title {
    text-align: left;
  }

  .premium__desc {
    margin: 22px 0 39px 0;
  }
  .premium__price {
    justify-content: start;
  }
}
@media (max-width: 320px) {
  .premium {
    margin-bottom: 440px;
  }
  .desc__title {
    font-size: 2rem;
  }
  .desc__info {
    font-size: 1rem;
  }
  .button-ios {
    padding: 15px 20px;
  }
  .button-android {
    padding: 15px 20px;
  }
}
