/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --color-primary: #191826;
  --color-secundary: #fcfaf9;
  --color-bk-eq: #fa7453;

  --color-hover-ios: #66e2dc;
  --color-hover-android: #ffb964;

  /*========== Font and typography ==========*/
  --font-body: "IBM Plex Sans", sans-serif;

  --h1-font-size: 5.5rem;
  --h2-font-size: 2.5rem;
  --normal-font-size: 1.25rem;
  --font-button: 1.125rem;
  --small-font-size: 1rem;
  --font-price: 4.063rem;

  /*========== Font weight ==========*/
  --fw-regular: 400;
  --fw-bold: 700;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-body);
  background: var(--color-secundary) url(../img/bg-main-desktop.png) no-repeat
    top -16rem right -10rem;
  color: var(--color-primary);
  overflow-x: hidden;
}

@media (min-width: 91.25rem) {
  body {
    background-position-x: center;
  }
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: var(--color-primary);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
  max-width: 69.375rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media (min-width: 72.5rem) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
.button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--font-button);
  font-weight: var(--fw-bold);
  line-height: 1.78;
  letter-spacing: -0.011rem;
  white-space: nowrap;
  border-radius: 0.75rem;
  transition: 0.3s ease-in-out;
}
/*==================== HEADER ====================*/
.header-logo {
  padding-top: 3.875rem;
  position: relative;
}
/* Pattern 1 */
.header__img {
  width: 19.5rem;
  height: 29.25rem;
  background: url(../img/bg-pattern-1.svg) no-repeat;
  position: absolute;
  right: 0;
  top: -2.5rem;
}
@media (min-width: 89.375rem) {
  .header__img {
    display: none;
  }
  .header-logo::after {
    content: "";
    display: block;
    width: 19.5rem;
    height: 29.25rem;
    background: url(../img/bg-pattern-1.svg) no-repeat;
    position: absolute;
    right: -10.313rem;
    top: -2.5rem;
  }
}
.header__content {
  display: grid;
  grid-template-columns: 1fr auto;
}
.header__link {
  margin-bottom: 7.938rem;
  display: inline-block;
}
.desc {
  margin-bottom: 20.063rem;
}
.desc__content {
  display: grid;
  gap: 2.5rem 0;
  max-width: 54.375rem;
}
.desc__title {
  font-size: var(--h1-font-size);
  line-height: 1;
  font-weight: var(--fw-bold);
  letter-spacing: -0.063rem;
}
.desc__info {
  font-size: var(--normal-font-size);
  line-height: 1.7;
  font-weight: var(--fw-regular);
}

/*==================== MAIN ====================*/

.section-bg {
  background: var(--color-primary) url(../img/bg-pattern-2.svg) no-repeat top -2.5rem
    left 21rem;
}

.premium {
  max-width: 69.375rem;
  height: 37.5rem;
  position: relative;
  border-radius: 0.75rem;
  background-color: var(--color-primary);
  margin-bottom: 12.625rem;
  padding: 0;
  color: var(--color-secundary);
}
.premium__img {
  width: 19.5rem;
  height: 40.125rem;
  position: absolute;
  top: -13.25rem;
  left: 6.375rem;
}
.premium__eq {
  max-width: 27.875rem;
  background-color: var(--color-bk-eq);
  position: absolute;
  top: 5.625rem;
  right: 5.938rem;
  border-radius: 0.75rem;
  padding: 3.625rem 3.688rem 3rem 3.375rem;
}
.premium__title {
  font-size: var(--h2-font-size);
  font-weight: var(--fw-bold);
  line-height: 1.3;
}
.premium__desc {
  font-size: var(--normal-font-size);
  font-weight: var(--fw-regular);
  line-height: 1.7;
  margin: 1.375rem 0 2.438rem;
}
.premium__price {
  font-size: var(--font-price);
  line-height: 0.8;
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 2.875rem;
}
.premium__month {
  font-size: var(--normal-font-size);
  line-height: 1.6;
  font-weight: var(--fw-regular);
}
.premium__buttons {
  display: grid;
  row-gap: 1rem;
  justify-content: center;
}

.button-ios {
  color: var(--color-secundary);
  background-color: var(--color-primary);
  padding: 0.938rem 6rem;
}
.button-android {
  color: var(--color-primary);
  background-color: var(--color-secundary);
  padding: 0.938rem 4.813rem;
}
.button-ios:hover {
  background-color: var(--color-hover-ios);
}
.button-android:hover {
  background-color: var(--color-hover-android);
}
/*==================== FOOTER ====================*/
.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  margin-bottom: 5.688rem;
}
.footer__logo.header__link {
  margin-bottom: 0;
}
.footer__contact {
  font-size: var(--small-font-size);
  line-height: 1.62;
  font-weight: var(--fw-regular);
  max-width: 22.875rem;
  margin: 0 22.5rem 0 8.625rem;
}
.footer__redes {
  display: flex;
  column-gap: 1.25rem;
  align-self: center;
}
.footer__link {
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
}
.footer__link:hover,
.footer__link:active {
  color: var(--color-bk-eq);
}
svg path {
  fill: currentColor;
}

/*==================== MEDIA QUERIES ====================*/

@media (max-width: 75rem) {
  body {
    background: var(--color-secundary) url(../img/bg-main-tablet.png) no-repeat
      top -13.75rem right -0.547rem;
  }
  .container {
    margin-left: 2.063rem;
    margin-right: 2.438rem;
  }
  .header__link {
    margin-bottom: 5.938rem;
  }
  .desc {
    margin-bottom: 15.563rem;
  }
  .desc__content {
    gap: 1.75rem 0;
  }
  .desc__title {
    font-size: 4rem;
    letter-spacing: -0.045rem;
    max-width: 32.5rem;
  }
  .desc__info {
    font-size: 1.125rem;
    line-height: 1.56;
    max-width: 32.125rem;
  }
  .section-bg {
    background: var(--color-primary) url(../img/bg-pattern-2.svg) no-repeat top -1.938rem
      left 14.313rem;
    background-size: 17.5rem;
  }
  .premium {
    margin-bottom: 11.438rem;
  }
  .premium__img {
    width: 16.875rem;
    height: 34.75rem;
    top: -8.625rem;
    left: 4rem;
  }
  .premium__eq {
    top: 9.375rem;
    right: 3.625rem;
    padding: 3rem 3.063rem 3rem 3rem;
  }
  .premium__title {
    font-size: 2rem;
    line-height: 1.25;
  }
  .premium__desc {
    font-size: 1.125rem;
    line-height: 1.56;
    margin: 0.75rem 0 2.25rem;
    max-width: 18.875rem;
  }

  .premium__price {
    margin-bottom: 2rem;
  }

  .button-ios {
    padding: 0.938rem 4.813rem;
  }
  .button-android {
    padding: 0.938rem 3.688rem;
  }

  .footer__logo.header__link {
    margin-bottom: 2rem;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    margin-bottom: 5.313rem;
  }
  .footer__contact {
    grid-row: 2;
    margin: 0;
  }
  .footer__redes {
    grid-row: 2;
    justify-self: end;
  }
}
/* Pattern 1 resposive */
@media (max-width: 50rem) {
  .header__img {
    width: 16.688rem;
    height: 25rem;
    background-size: 16.688rem 25rem;
    right: -2.25rem;
    top: -2rem;
  }
}
@media (max-width: 43.75rem) {
  body {
    background: var(--color-secundary) url(../img/bg-main-mobile.png) no-repeat
      top -13.75rem left 0.125rem;
  }
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .header-logo {
    padding-top: 2.5rem;
  }
  .header__link {
    margin-bottom: 4rem;
  }
  .desc {
    margin-bottom: 10.375rem;
  }
  .desc__content {
    row-gap: 1.25rem;
  }
  .desc__title {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -0.028rem;
  }
  .desc__info {
    font-size: 1rem;
    line-height: 1.62;
  }
  .header__img {
    display: none;
  }
  .main {
    margin-left: 0;
    margin-right: 0;
  }
  .section-bg {
    background: var(--color-primary) url(../img/bg-pattern-2.svg) no-repeat top
      center;
    background-size: 17.5rem;
  }
  .premium__img {
    width: 13.063rem;
    height: 26.875rem;
    top: -6rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .premium {
    margin-bottom: 24.375rem;
  }
  .premium__eq {
    max-width: 100%;
    top: 23.75rem;
    right: 0;
    left: 0;
    padding: 3rem 2.313rem 3rem 2.25rem;
  }
  .premium__title {
    text-align: center;
  }
  .premium__desc {
    margin: 1.375rem auto 2.438rem auto;
  }
  .premium__price {
    justify-content: center;
    margin-bottom: 2rem;
  }

  .button-ios {
    padding: 0.938rem 4.813rem;
  }
  .button-android {
    padding: 0.938rem 3.688rem;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }
  .footer__contact {
    margin-bottom: 4rem;
  }
  .footer__redes {
    grid-row: 3;
    justify-self: start;
  }
}
@media (max-width: 25rem) {
  .premium__title {
    text-align: left;
  }

  .premium__desc {
    margin: 1.375rem 0 2.438rem 0;
  }
  .premium__price {
    justify-content: start;
  }
}
@media (max-width: 20rem) {
  .premium {
    margin-bottom: 27.5rem;
  }
  .desc__title {
    font-size: 2rem;
  }
  .desc__info {
    font-size: 1rem;
  }
  .button-ios,
  .button-android {
    padding: 0.938rem 1.25rem;
  }
}
